<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzfgeh.battlegame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".APP">
        <activity
            android:name=".ui.Activity.SplanshActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4f83c5d852701564c0000011" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" >
        </meta-data>

        <activity android:name=".ui.Activity.LoginActivity"/>
        <activity android:name=".ui.Activity.RegisterActivity"/>

        <service android:name="com.gzfgeh.battlegame.service.MinaService"/>
        <receiver android:name=".receiver.CustomMinaMessageReceiver">
            <intent-filter>
                <action android:name="ACTION_CONNECTION_SUCCESS"/>
                <action android:name="ACTION_CONNECTION_FAILED"/>
                <action android:name="ACTION_MESSAGE_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.Activity.MainDisplay"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground"/>

        <activity
            android:name=".ui.Activity.RoomActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground"/>

        <activity
            android:name=".ui.Activity.PlayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground"/>

    </application>

</manifest>
